/* IMPORT EXTERNAL CSS */
@import url('./fonts/fonts.css');

/* IMPORTANT FONT SETTINGS */
*{font-family: "Times Pixelated 16", "Times New Roman", serif}
body {font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif}
h1 {margin: 24px 4px;padding: 0px;font-size: 32px;font-family: "Times Pixelated 32", "Times New Roman", serif}
h2 {margin: 22px 4px;padding: 0px;font-size: 24px;font-family: "Times Pixelated 24", "Times New Roman", serif}
h3 {margin: 18px 4px;padding: 0px;font-size: 16px;font-family: "Times Pixelated 16", "Times New Roman", serif}
h4 {margin: 16px 4px;padding: 0px;font-size: 16px;font-family: "Times Pixelated 16", "Times New Roman", serif;text-decoration: underline}
h5 {margin: 16px 4px;padding: 0px;font-size: 16px;font-family: "Times Pixelated 16", "Times New Roman", serif;font-style: oblique;text-decoration: underline}
p {margin: 12px 4px;padding: 0px;font-size: 16px;font-family: "Times Pixelated 16", "Times New Roman", serif}
a {color: #0000ff}
a:hover {color: #ff00ff}
a:active {color: #ff0000}
.i {font-style: italic}
.o {font-style: oblique}
.b {font-weight: bold}
.s {font-variant: small-caps}
.rainbow {background: url('./img/rainbow.gif');background-clip: text;-webkit-background-clip: text;color: transparent;font-weight: bold}
@keyframes textGlow {
  0% {text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  5% {text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  10% {text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  15% {text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  20% {text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  25% {text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  30% {text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  35% {text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  40% {text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  45% {text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  50% {text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  55% {text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  60% {text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  65% {text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  70% {text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  75% {text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  80% {text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  85% {text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  90% {text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  95% {text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px}
  100% {text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px}
}
@keyframes rotate {
  0% {margin-right: 0px;transform: rotate(0deg)}
  5% {margin-right: 1px;transform: rotate(1deg)}
  10% {margin-right: 2px;transform: rotate(2deg)}
  15% {margin-right: 3px;transform: rotate(3deg)}
  20% {margin-right: 4px;transform: rotate(4deg)}
  25% {margin-right: 5px;transform: rotate(5deg)}
  30% {margin-right: 4px;transform: rotate(4deg)}
  35% {margin-right: 3px;transform: rotate(3deg)}
  40% {margin-right: 2px;transform: rotate(2deg)}
  45% {margin-right: 1px;transform: rotate(1deg)}
  50% {margin-right: 0px;transform: rotate(0deg)}
  55% {margin-left: 1px;transform: rotate(-1deg)}
  60% {margin-left: 2px;transform: rotate(-2deg)}
  65% {margin-left: 3px;transform: rotate(-3deg)}
  70% {margin-left: 4px;transform: rotate(-4deg)}
  75% {margin-left: 5px;transform: rotate(-5deg)}
  80% {margin-left: 4px;transform: rotate(-4deg)}
  85% {margin-left: 3px;transform: rotate(-3deg)}
  90% {margin-left: 2px;transform: rotate(-2deg)}
  95% {margin-left: 1px;transform: rotate(-1deg)}
  100% {margin-right: 0px;transform: rotate(0deg)}
}
.glow {animation: textGlow 1.6s infinite, rotate 3.2s infinite;text-align: center;}
h2.glow {color: #f535aa}
h4.glow {color: #00ffff}

/* UNIVERSAL ATTRIBUTES */
* {image-rendering: crisp-edges}
*:focus {outline: 1px dotted #000000;outline-offset: 2px}
* {
	cursor: url('./cursor.png'), auto;
}
/* LAYOUT */
body {max-width: 1024px;overflow-y: scroll;margin: 0 auto}
.img-left {float: left}
.img-right {float: right}
.iconbar {margin-top: 8px}

/* WIDGET STYLING */
button {border: 4px solid;border-color: #c0c0c0 #808080 #808080 #c0c0c0;border-image: url('./border-ridge.svg') 64/4px;border-radius: 0;padding: 7px 11px;background: #ffffff;font-size: 16px;font-family: "Times Pixelated 16", "Times New Roman", serif}
button:focus {outline-offset: -8px}
button:active, button.hilite {background: url('./img/rainbow.gif')}
button[disabled] {background: #ffffff;color: #808080;text-shadow: 1px 1px #c0c0c0}
.box {border: 4px solid; border-color: #c0c0c0 #808080 #808080 #c0c0c0;border-image: url('./border-ridge.svg') 64/4px;padding: 4px}
.content {color: #ffffff}
hr {height:2px;border: 2px solid;border-color: #c0c0c0 #808080 #808080 #c0c0c0;border-image: url('./border-outset.svg') 64/2px;background: url('./img/rainbow.gif')}
hr.construction {height: 51px;border: 0;background: url('./img/construction.gif');background-repeat: no-repeat}
iframe {border: 2px solid;border-color: #c0c0c0 #808080 #808080 #c0c0c0;border-image: url('./border-ridge.svg') 64/2px;}
.blog-post {width: calc(100% - 4px);height: 508px;}

/* TOP BAR STYLING */
.header {width: 100%;height: 160px}
.home-button {float: left;margin: 8px}
.menu-link {display: inline-block;color: #000000}
.menu-link:hover {color: red}
table.menu {float: left;margin: 8px;border: 2px solid;border-color: #c0c0c0 #808080 #808080 #c0c0c0;border-image: url('./border-ridge.svg') 64/2px;background: #232323}
td.menu-button {width: 64px;border: 2px solid;border-color: #808080 #c0c0c0 #c0c0c0 #808080;border-image: url('./border-inset.svg') 64/2px;padding: 8px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75));text-align: center;text-shadow: -1px -1px #ffffff, 1px 1px #808080}
th.title {height: 77px; border: 2px solid;border-color: #808080 #c0c0c0 #c0c0c0 #808080;border-image: url('./border-outset.svg') 64/2px;padding: 8px;background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75));text-align: center;text-shadow: -1px -1px #ffffff, 1px 1px #808080}
